/** @format */

* {
  margin: 0px;
  padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;800&family=Manrope:wght@200;300;400;500&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,400&family=Poppins:ital,wght@0,400;1,100;1,300&family=Roboto:ital,wght@0,100;0,300;1,300;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;800&family=Manrope:wght@200&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,400&family=Poppins:ital,wght@0,400;1,100;1,300&family=Roboto:ital,wght@0,100;0,300;1,300;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;800&family=Manrope:wght@200&family=Poppins:wght@200;300&family=Roboto:ital,wght@0,100;0,300;1,300;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;800&family=Manrope:wght@200&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,400&family=Poppins:wght@200;300&family=Roboto:ital,wght@0,100;0,300;1,300;1,500&display=swap');

@font-face {
  font-family: 'Inter Medium';
  /* src: url('./fonts/Montserrat-Bold.ttf') format('truetype'); */
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat SemiBold';
  /* src: url('./fonts/Montserrat-SemiBold.ttf') format('truetype'); */
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat Bold';
  /* src: url('./fonts/Montserrat-Bold.ttf') format('truetype'); */
  font-weight: 900;
}

@font-face {
  font-family: 'Montserrat Regular';
  /* src: url('./fonts/Montserrat-Regular.ttf') format('truetype'); */
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat Light';
  /* src: url('./fonts/Montserrat-Light.ttf') format('truetype'); */
}

@font-face {
  font-family: 'Hey October';
  /* src: url('./fonts/Hey-October.ttf') format('truetype'); */
  font-weight: normal;
}

@font-face {
  font-family: 'Horta';
  /* src: url('./fonts/Horta.otf') format('opentype'); */
}

:root {
  --primary-color: #335918;
  --secondary-color: #a2ba1e;
  --light-grey: #a6a6a6;
  --dark-green: #022a06;
  --jet-black: #282823;
  --mint-white: #f5fff7;
  --neon-green: #caff7b;
  --white: #fff;
  --bg-color: #f4f4f4;
  --img-bg: #ffffff;
}

.p3-productp3-container {
  padding: 20px;
  padding-right: 20px;
  background-color: white;
}

.p3-back-button > button {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
}
.p3-back-button > p {
  margin: 0px;
}

.p3-productp3-detail {
  display: flex;
  justify-content: center;
  gap: 52px;
}

#p3-sale {
  font-family: 'Manrope';
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  width: 100px;
  padding: 5px;
  background: red;
  color: var(--img-bg);
}

.p3-productp3-box-row2 {
  padding: 30px;
}

.p3-col > p {
  margin: 0px;
}

.why-choose {
  width: 500px;
}

#p3-con {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 20px;
}

#p3-descri {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 20px;
}

#our-u {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.p3-productp3-box-row2 h2 {
  width: 490px;
  font-weight: 600;
  font-family: 'Manrope', sans-serif;
  color: #000000;
  font-size: 32px;
  margin-top: 10px;
  line-height: 48px;
}

.p3-productp3-down-box > img {
  width: 120px;
  height: 120px;
  border-radius: 8px;
}

.p3-productp3-down-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 9px;
}

.p3-pre-rolled {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}

.p3-product-box-main {
  width: 696px;
  height: 609px;
}

#p3-img-box {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.p3-down-one {
  width: 130px;
  height: 128px;
}
.p3-down-one > img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.p3-down-two {
  width: 130px;
  height: 128px;
}

.p3-amazon-box {
  margin-top: 20px;
}

.p3-down-two > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.p3-down-three {
  width: 130px;
  height: 128px;
}

.p3-down-three > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.p3-down-four {
  width: 130px;
  height: 128px;
}

.p3-down-four > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.p3-pre-rolled > p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #a2ba1e;
  font-size: 15.33px;
  margin-top: 4px;
  letter-spacing: 2px;
}

#p3-choose {
  display: flex;
  text-align: justify;
  gap: 5px;
}

.p3-product-box-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

#p3-roll-logo {
  height: 45px;
  width: 45px;
  cursor: pointer;
}

#p3-disk-text {
  display: flex;
  gap: 3px;
}

.p3-product-size-color {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

#p3-size {
  padding: 11px;
  border-radius: 10px;
  background: transparent;
  color: #335918;
  border: 1px solid #335918;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

#p3-size > img {
  width: 19px;
}

#p3-flavour {
  border-radius: 10px;
  background: transparent;
  color: #335918;
  border: 1px solid #335918;
  /* background-color: #f6f6f6; */
  padding: 10px;
  border-radius: 10px;
  /* border: 1px solid transparent; */
  color: #335918;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

#p3-col {
  border-radius: 10px;
  background: transparent;
  color: #335918;
  border: 1px solid #335918;
  /* background-color: #f6f6f6; */
  padding: 10px;
  /* border: 1px solid transparent; */
  /* color: #3f3e3f; */
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

#p3-mm {
  border-radius: 10px;
  background: transparent;
  color: #335918;
  border: 1px solid #335918;
  /* background-color: #f6f6f6; */
  /* border: 1px solid transparent; */
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding: 12px;
  /* border-radius: 10px; */
}

.p3-keyfeature {
  display: flex;
  margin-top: 20px;
}

.p3-keyfeature h4 {
  width: 116px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  color: #000000;
  font-size: 1.1rem;
}

.p3-dot-key {
  display: flex;
  justify-content: center;
  align-items: self-start;
  gap: 7px;
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  line-height: 30px;
  font-size: 1.1rem;
  margin-left: 20px;
}

.p3-amaz {
  width: 423px;
  height: 123px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 29px;
  padding: 27px;
  border: 1px solid #e4e4e4;
  border-radius: 14px;
}

.p3-amaz button {
  padding: 13.6px;
  border-radius: 10.81px;
  background-color: #335918;
  color: #ffffff;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  border: 1px solid var(--primary-color);
  transition: all 0.3s ease-in-out;
}

.p3-amaz button:hover {
  background-color: var(--white);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.p3-seo-descrption {
  margin-top: 50px;
  padding-left: 240px;
  padding-right: 240px;
}

#p3-des {
  text-decoration: underline;
  font-family: 'inter', sans-serif;
  font-weight: 600;
  color: #335918;
  font-size: 1rem;
}

#p3-seo {
  line-height: 80px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  color: #344054;
}

.p3-productp3-benefits {
  margin-top: 20px;
}

.p3-productp3-benefits > h2 {
  font-weight: 700;
  font-size: 1.4rem;
}
.p3-check p {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  font-family: 'inter', sans-serif;
  font-weight: 400;
}

@media screen and (min-width: 768px) and (max-width: 1270px) {
  .p3-productp3-container {
    margin: 0px;
  }

  .p3-productp3-detail {
    display: block;
    text-align: center;
  }
  .p3-seo-descrption {
    padding-left: 179px;
  }

  .p3-productp3-detail > img {
    width: 500px;
  }

  .p3-amaz button {
    padding: 15px;
  }

  .amaz {
    width: 132px;
  }

  .amaz > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .p3-amaz {
    width: 460px;
  }

  .why-choose {
    width: 602px;
  }

  .sale-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-why-choose {
    display: flex;
    justify-content: center;
  }
  .p3-keyfeature {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .key {
    display: flex;
    justify-content: center;
  }
  .p3-productp3-box > img {
    height: 820px;
    display: inline;
  }
  .p3-productp3-down-box > img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
  }
  .p3-productp3-box-row2 h2 {
    width: auto;
    font-weight: 600;
    font-family: 'Manrope', sans-serif;
    color: #000000;
    font-size: 1rem;
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  #p3-flavour {
    font-size: 0.8rem;
  }
  .p3-product-size-color {
    height: 50px;
    justify-content: center;
  }
  #p3-col {
    font-size: 0.8rem;
  }
  #p3-mm {
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    color: #000000;
  }
  .p3-amazon-box {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  #p3-con {
    margin-bottom: 5px;
  }
  #p3-descri {
    margin-top: 5px;
    justify-content: center;
  }
  #p3-disk-text {
    display: flex;
    justify-content: center;
    gap: 3px;
  }
  #p3-size {
    font-size: 1rem;
  }
  #p3-choose {
    justify-content: center;
  }
  .p3-pre-rolled {
    justify-content: center;
  }
  .p3-product-box-main {
    width: 600px;
    height: 600px;
  }

  .p3-down-one {
    width: 100px;
  }

  .p3-down-two {
    width: 100px;
  }

  .p3-down-three {
    width: 100px;
  }
  .p3-down-four {
    width: 100px;
  }
}

@media screen and (min-width: 606px) and (max-width: 768px) {
  .p3-productp3-container {
    margin: 0px;
  }

  .p3-productp3-detail {
    display: block;
    text-align: center;
  }

  .p3-seo-descrption {
    padding-left: 70px;
    padding-right: 20px;
  }

  .p3-productp3-detail > img {
    width: 500px;
  }
  .p3-productp3-detail {
    display: block;
    text-align: center;
  }
  .sale-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .p3-productp3-box > img {
    height: 637px;
    width: 717px;
  }

  .p3-keyfeature {
    display: flex;
    margin-top: 20px;
    justify-content: center;
  }
  .p3-pre-rolled {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .p3-productp3-container {
    margin: 0px;
    width: 100%;
  }
  .p3-productp3-box-row2 h2 {
    width: auto;
    font-weight: 600;
    font-family: 'Manrope', sans-serif;
    color: #000000;
    font-size: 1rem;
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  .p3-pre-rolled > p {
    font-weight: 700;
    color: #a2ba1e;
    font-size: 0.8rem;
    margin-top: 4px;
  }
  .p3-seo-descrption {
    padding: 10px;
  }
  .sale-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #p3-descri {
    justify-content: start;
  }

  #p3-col {
    font-size: 1rem;
  }

  #p3-con {
    justify-content: start;
  }
  .p3-pre-rolled {
    justify-content: center;
  }
  .p3-productp3-detail {
    display: block;
    text-align: center;
  }

  .p3-productp3-detail > img {
    width: 500px;
  }
  .p3-productp3-detail {
    display: block;
    text-align: center;
  }

  .p3-productp3-box > img {
    height: 370px;
    width: 421px;
    margin-left: 20px;
    display: inline;
  }
  .p3-product-size-color {
    height: 49px;
    width: auto;
    gap: 5px;
  }
  #p3-flavour {
    display: flex;
    justify-content: center;
    font-size: 1rem;
  }

  .p3-keyfeature {
    display: block;
    margin-top: 20px;
    justify-content: center;
  }

  .p3-productp3-down-box > img {
    width: 60px;
    height: 60px;
    border-radius: 8px;
  }

  .p3-amaz > button {
    padding: 4px;
    font-size: 0.8rem;
  }
  #p3-mm {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }
  .why-choose {
    width: auto;
  }
  .p3-down-four {
    width: 60px;
  }
  .p3-down-one {
    width: 60px;
  }
  .p3-down-two {
    width: 60px;
  }
  .p3-down-three {
    width: 60px;
  }
  .p3-amaz {
    width: 282px;
    height: 94px;
  }
  .p3-product-box-main {
    width: 696px;
    height: 209px;
  }
  #p3-size {
    padding: 14px;
    font-weight: 700;
    font-size: 1rem;
  }
  .p3-productp3-box-row2 {
    padding-left: 10px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1600px) {
  .p3-seo-descrption {
    margin-top: 50px;
    padding-left: 114px;
    padding-right: 122px;
  }
}

@media screen and (min-width: 375px) and (max-width: 425px) {
  .why-choose {
    margin: auto;
    width: 325px;
  }
  .p3-product-size-color {
    margin-left: -15px;
  }
}

@media screen and (min-width: 320px) and (max-width: 370px) {
  #p3-size {
    font-size: 12px;
  }
  #p3-flavour {
    font-size: 12px;
  }
  #p3-col {
    font-size: 12px;
  }
  #p3-mm {
    font-size: 12px;
  }
  .p3-product-size-color {
    margin-left: -19px;
  }
}
