/** @format */

.notification-main {
  position: absolute;
  top: 50px;
  left: -325px;
  width: 400px;
  height: 80vh;
  background: var(--color-white);
  z-index: 10;
  box-shadow: var(--box-shadow-color);
  border-radius: 8px;
}

.notification-main > .overflow {
  overflow: auto;
  height: 87%;
}

.noti-header {
  border-bottom: 1px solid #e9e9e9;
  box-shadow: var(--box-shadow-color);
  padding: 15px 20px 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#notification-text {
  display: flex;
  align-items: center;
}

#notification-text > h6 {
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 17px;
}

#notification-text > span {
  width: 21px;
  height: 21px;
  background: var(--color-secondary-variant);
  border-radius: 50%;
  color: var(--color-white);
  text-align: center;
  font-size: 13px;
}

#notification-mark {
  display: flex;
  align-items: center;
  height: 30px;
}

#notification-mark > p {
  margin-bottom: 0px;
  color: var(--color-secondary-variant);
  margin-right: 10px;
  font-size: 15px;
  cursor: pointer;
}

.user-notification {
  /* width: 100%;
  height: 100%;
  padding: 10px 20px 0px 20px;
  max-height: 180px;
  min-height: 130px; */
  width: 100%;
  padding: 10px 20px 0px 20px;
  min-height: 130px;
}

.user-notification > p {
  margin-bottom: 0px;
}
.user-notification > .line {
  border: 1px solid #cccbcb66;
  margin: 12px 0px 0px 0px;
}

.blue-line {
  background: #3574f2;
  height: 100%; /* Set the height to 100% to match the content height */
  width: 4px;
  min-height: 40px;
}

.notification-message {
  display: flex;
  padding: 0px 10px;
  align-items: center;
  height: 100%;
}

.notification-message > p {
  width: 100%;
  padding: 10px;
  font-size: 13px;
  margin-bottom: 0px;
}

.notification-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p > #unread {
  width: 12px;
  height: 12px;
  background: #3574f2;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .notification-main {
    left: -370px;
  }
}

@media (max-width: 580px) {
  .notification-main {
    left: -295px;
  }
}

@media (max-width: 440px) {
  .notification-main {
    left: -265px;
    width: 380px;
  }
}

@media (max-width: 425px) {
  .notification-main {
    left: -232px;
    width: 380px;
  }
}

@media (max-width: 385px) {
  .notification-main {
    left: -179px;
    width: 315px;
  }
}
