/** @format */

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;800&family=Manrope:wght@200&family=Poppins:wght@200;300&family=Roboto:ital,wght@0,100;0,300;1,300;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;800&family=Manrope:wght@200&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,400&family=Poppins:wght@200;300&family=Roboto:ital,wght@0,100;0,300;1,300;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@font-face {
  font-family: 'Montserrat SemiBold';
  src: url('../../../public/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('../../../public/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url('../../../public/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat Light';
  src: url('../../../public/fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Hey October';
  src: url('../../../public/fonts/Hey-October.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Horta';
  src: url('../../../public/fonts/Horta.otf') format('opentype');
}

:root {
  --primary-color: #335918;
  --secondary-color: #a2ba1e;
  --light-grey: #a6a6a6;
  --dark-green: #022a06;
  --jet-black: #282823;
  --mint-white: #f5fff7;
  --neon-green: #caff7b;
  --white: #fff;
}

/* FIRST COMPONENT */

.product-head {
  background-image: url('../../assets/User/slider\ 2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  width: 100%;
  display: grid;
  grid-template-columns: 90% 10%;
}

.product-feature {
  display: flex;
  margin-top: -9px;
  margin-bottom: 33px;
  gap: 33px;
}

.product-feature1 {
  display: flex;
  gap: 33px;
}

.product-feature2 {
  display: flex;
  gap: 33px;
}

.product-part-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 382px;
}

.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1130px;
}

.product-part-text h2 {
  color: var(--neon-green);
  font-family: 'Hey October';
  font-size: 48px;
  line-height: 72px;
}

.product-part-text h1 {
  margin-top: -2rem;
  color: var(--white);
  font-family: 'Horta', sans-serif;
  font-weight: 600;
  font-size: 7rem;
  line-height: 104px;
  letter-spacing: 0.003em;
}

#bt {
  font-weight: 700;
  font-size: 16px;
  height: 56px;
  padding: 15px;
  border-radius: 9px;
  background: transparent;
  color: white;
  border: 1px solid white;
  width: 130px;
}

#bt:hover {
  font-size: 16px;
  height: 56px;
  padding: 15px;
  border-radius: 9px;
  width: 130px;
  background: var(--mint-white);
  border: 1px solid #335918;
  color: #335918;
  cursor: pointer;
}

.feature-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6vh;
  padding: 10px;
  background: #849b71;
  border-radius: 8px;
}

.feature-text > h4 {
  color: var(--white);
  font-weight: 800;
  font-size: 2.5rem;
  font-family: 'inter', sans-serif;
}

#develop-parag {
  font-family: 'inter';
}

.feature-text > p {
  margin-top: -1rem;
  font-weight: 400;
  opacity: 0.5;
  color: #f5fff7;

  font-family: 'inter', sans-serif;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--neon-green);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

#active {
  background-color: var(--primary-color);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.dot-button-main {
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
  margin-top: 285px;
}

.product-category {
  background-color: #fff;
  position: relative;
}

.product-list-box {
  display: flex;
  justify-content: space-evenly;
}

.corner-star {
  position: absolute;
  right: 0px;
  top: -49px;
  opacity: 0.2;
}

.product-drop {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.product-size {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.list-button {
  display: flex;
  align-items: center;
  height: 100px;
}

.product-drop > select {
  border-radius: 10px;
  padding: 15px;
  width: 380px;
  font-weight: 700;
  font-size: 15px;
}

.product-size > select {
  border-radius: 10px;
  padding: 15px;
  width: 380px;
  font-weight: 700;
  font-size: 15px;
}

.list-button > button {
  border-radius: 10px;
  padding: 17px;
  width: 150px;
  color: var(--bg-color);
  background-color: var(--primary-color);
  border: 1px solid transparent;
}

.last-feat-text > p {
  font-size: 14px;
  margin-top: -10px;
  opacity: 0.5;
  color: #f5fff7;
  font-family: 'inter', sans-serif;
}
.last-feat-text > h4 {
  color: var(--white);
  font-weight: 800;
  font-size: 32px;
  font-family: 'inter', sans-serif;
}
.feature-321 > p {
  font-size: 14px;
  margin-top: -10px;
  opacity: 0.5;
  color: #f5fff7;
  font-family: 'inter', sans-serif;
}
.feature-321 > h4 {
  color: var(--white);
  font-weight: 800;
  font-size: 32px;
  font-family: 'inter', sans-serif;
}

/* SECOND COMPONENT */

.main-container {
  padding-bottom: 44px;
  background-color: #f7f7fc;
}

.product2-container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 63px;
  width: 92%;
  align-items: center;
}

.arrow-button {
  display: flex;
  gap: 10px;
  float: right;
}

.pre {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 30px;
  border-radius: 57px;
  border: 1px solid white;
  width: 36px;
}

.next {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 30px;
  border-radius: 57px;
  border: 1px solid white;
  width: 36px;
}

.product-box {
  padding-bottom: 18px;
  margin: auto;
  width: 92%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 19px;
  grid-row-gap: 0px;
}

.first-product {
  border-radius: 9px;
  background-color: #335918;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-area: 1 / 1 / 2 / 3;
}

.product-img-box {
  display: flex;
  justify-content: end;
}

#taj {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
}

.product-img-text > p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
}

.product-img-text-box {
  margin-top: 58px;
  margin-left: 95px;
}

#king {
  width: 70px;
  color: var(--neon-green);
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.exp {
  display: flex;
  color: white;
  text-align: center;
  align-items: center;
  gap: 8px;
}

.explore {
  font-size: 37px;
}

.product-img-text-box h1 {
  margin-top: -0.3rem;
  font-weight: 600;
  font-family: 'Horta', sans-serif;
  font-size: 5rem;
  color: var(--white);
  margin-bottom: -15px;
}

.exp > h1 {
  font-family: 'Montserrat', sans-serif;
}

.second-product {
  border-radius: 9px;
  background-position: center;
  background-size: cover;
  background-image: url(../../assets/User/cout.jpeg);
  background-repeat: no-repeat;
  position: relative;
  grid-area: 1 / 3 / 2 / 4;
}

.second-product-row-col1 {
  grid-area: 2 / 1 / 3 / 2;
}
.second-product-row-col2 {
  grid-area: 2 / 2 / 3 / 3;
}
/* .second-product-row-col18{

} */
.second-product-row-col3 {
  grid-area: 2 / 3 / 3 / 4;
}

#pro {
  margin-left: 1vw;
  color: white;
}

#pro2 {
  color: white;
  display: flex;
  align-items: center;
}

.exp1 {
  color: var(--img-bg);
  display: flex;
  gap: 250px;
  position: absolute;
  bottom: 10px;
}

.product-img-text {
  color: var(--neon-green);
  display: flex;
  gap: 21px;
  margin-bottom: 30px;
}

.second-product-row {
  margin: auto;
  width: 92%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#last-img {
  width: 100%;
  height: 100%;
  border: 1px solid white;
  background-color: white;
  /* margin-top: 20px; */
  border-radius: 14px;
}

#start-img {
  width: 100%;
  height: 100%;
  /* margin-top: 20px; */
}

#center-img {
  /* margin-top: -10px; */
  width: 100%;
  height: 100%;
}

#section3-head {
  color: #11142d;

  font-size: 62px;
  font-weight: 700;
  margin-left: 1px;
  font-family: 'Mulish', sans-serif;
}
.dropdown-button {
  width: 400px;
  cursor: pointer;
  padding: 14px 1.8vw;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  color: #11142d;
  font-weight: 700;
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
/* THIRD  COMPONENT*/

.contain-wrapper11 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100%;
  background-color: var(--primary-color);
  background-image: url(../../assets/User/bucket.png),
    url(../../assets/User/leaf.png);
  background-repeat: no-repeat;
  background-position: bottom left top right;
  background-size: 17% auto;
}

.fst-div {
  width: 35vw;
  height: 13vh;
  margin-top: 7rem;
  margin-left: 95px;
}

#headingSection {
  font-family: 'Horta', sans-serif;
  margin-left: -5px;
  color: var(--white);
  font-size: 60px;
  line-height: 120%;
  letter-spacing: 0.24px;
}

#paragraph {
  font-family: 'Inter';
  font-size: 20px;
  margin-top: 0px;
  color: var(--white);
}

.snd-div {
  height: auto;
  width: 53vw;
}

.boxes {
  padding-top: 20px;
  color: var(--white);
  margin-left: 8vw;
  font-size: 20px;
  margin-bottom: 10px;
  position: relative;
}

.below-head {
  font-family: 'Inter';
  font-size: 20px;
  color: var(--white);
  margin-left: 8vw;
}

.rht-frog img {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image {
  width: 70%;
}

.rht-frog {
  background-image: url(../../assets//User/leaf.png);
  background-repeat: no-repeat;
  background-size: 224px;
  background-position: top right;
}

.snd-div ul {
  list-style-type: none;
}

.boxes h3 {
  font-family: 'Horta', sans-serif;
  color: var(--white);
  font-size: 40px;
}
.boxes::before {
  content: '•';
  color: var(--white);
  font-size: 50px;
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
}

.boxes h3 {
  font-family: 'Horta', sans-serif;
  color: var(--white);
  font-size: 40px;
}

/* FOURTH COMPONENT */

.main-conts {
  height: 750px;
  padding: 1px;
  background-color: #f5fff7;
  background-image: url(../../assets/User/leaf\ 1.png),
    url(../../assets/User/leaf\ 2.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 17% auto;
  background-position: top right, 0% 118%;
}

.conts-wrapper {
  height: 763px;
  width: 86vw;
  margin: auto;
  margin-top: 4vw;
  display: grid;
  grid-template-columns: 43vw 43vw;
}

.imag {
  width: 100%;
}

.lefts img {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.over {
  margin-left: 3vw;
  width: 38vw;
  color: var(--primary-color);
  font-size: 30px;
  letter-spacing: 0.24px;
  font-style: normal;
  margin-top: -1rem;
}

.craft-h2 {
  font-family: 'Horta';
  font-size: 58px;
  font-weight: 700;
}

.para {
  font-family: 'Inter';
  font-family: 'Inter';
  font-size: 24x;
  margin-top: 5rem;
  margin-left: 3vw;
}

.last {
  margin-left: 4vw;
  width: 37vw;
  height: 25vh;
  margin-top: -2rem;
  display: flex;
  margin-top: 2rem;
}

.st h2 {
  color: var(--primary-color);
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0.24px;
  font-family: 'Horta';
  font-weight: 700;
}

.nd h2 {
  margin-left: 6vw;
  color: var(--primary-color);
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0.24px;
  font-family: 'Horta';
  font-weight: 700;
}

.thrd h2 {
  margin-left: 6vw;
  color: var(--primary-color);
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0.24px;
  font-family: 'Horta';
  font-weight: 700;
}

#car {
  margin-left: 0.5vw;
  color: var(--secondary-color);
  font-size: 20px;
  font-family: 'inter';
}

#cust {
  margin-left: 6vw;
  color: var(--secondary-color);
  font-size: 20px;
  font-family: 'inter';
}

#deal {
  margin-left: 6.5vw;
  color: var(--secondary-color);
  font-size: 20px;
  font-family: 'inter';
}

/* MEDIA QUERIES FOR THIRD COMPONENT */

@media screen and (min-width: 1024px) {
  .main-contain {
    height: auto;
  }

  .contain-wrapper11 {
    display: grid;
    grid-template-columns: 55% 45%;
    height: auto;
    background-color: var(--primary-color);
    background-image: url(../../assets/User/bucket.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 17% auto;
  }

  .rht-frog {
    height: 935px;
    background-image: url(../../assets/User/leaf.png);
    background-repeat: no-repeat;
    background-size: 224px;
    background-position: top right;
  }
  .fst-div {
    width: 70%;
    height: 200px;
    margin-top: 6vw;
    margin-left: 5vw;
  }

  #develop-parag {
    width: 40vw;
  }

  .image {
    /* margin-top: 2vw; */
    height: 874px;
    width: 90%;
  }
  .rht-frog img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  /* .below-head-1stpar {
    margin-top: 1vw;
  } */
}

@media screen and (max-width: 1023px) {
  .contain-wrapper11 {
    display: grid;
    grid-template-columns: 57% 43%;
    height: auto;
    background-color: var(--primary-color);
    background-image: url(../../assets/User/bucket.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 17% auto;
  }
  .fst-div {
    width: 37vw;
    height: max-content;
    margin-top: 6vw;
    margin-left: 5vw;
  }
  #paragraph {
    width: 33vw;
    margin-top: 0px;
    color: var(--white);
  }
  #develop-parag {
    width: 40vw;
  }
  .snd-div {
    height: max-content;
    width: auto;
  }
  .image {
    height: 550px;
    width: 85%;
  }
  .rht-frog img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .boxes {
    font-size: 20px;
    margin-bottom: -4px;
    position: relative;
  }
  .below-head {
    font-size: 16px;
    position: relative;
    margin-bottom: 3%;
    color: var(--white);
  }
}

@media screen and (max-width: 768px) {
  .contain-wrapper11 {
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .fng-frog {
    width: 90vw;
    margin: auto;
  }
  .image {
    height: 100%;
    margin-top: 3vw;
    width: 100%;
  }

  .rht-frog img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .fst-div {
    height: 144px;
    margin: auto;
    width: 70%;
  }

  #headingSection {
    font-family: 'Horta', sans-serif;
    color: var(--white);
    font-size: 41px;
    line-height: 120%;
    letter-spacing: 0.24px;
  }

  #paragraph {
    width: 90%;
    font-size: 18px;
    color: var(--white);
  }

  .snd-div {
    margin-left: 10vw;
    width: 83vw;
  }

  .boxes h3 {
    font-family: 'Horta', sans-serif;
    color: var(--white);
    font-size: 40px;
  }

  .below-head {
    font-size: 15px;
    color: var(--white);
  }

  .lft-prdct {
    margin-top: 3vw;
    flex: 1;
    order: 2;
  }

  .rht-frog {
    height: auto;
    flex: 1;
    order: 1;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .main-contain {
    height: 888px;
  }

  .contain-wrapper11 {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url(../../assets/User/bucket.png);
    background-repeat: no-repeat;
    background-position: 20% 100%;
    background-size: 17% auto;
  }

  .rht-frog img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .fng-frog {
    margin: auto;
    width: 90vw;
  }
  .image {
    width: 100%;
    height: 385px;
  }

  .fst-div {
    height: 111px;
    margin-top: 0rem;
    margin-left: -1vw;
  }

  #headingSection {
    width: 77vw;
    font-family: 'Horta', sans-serif;
    margin-left: 17vw;
    color: var(--white);
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0.24px;
  }

  #paragraph {
    width: 66vw;
    font-size: 13px;
    margin-left: 18vw;
    color: var(--white);
  }

  .snd-div {
    height: auto;
    margin-left: 14vw;
  }
  .boxes h3 {
    font-family: 'Horta', sans-serif;
    color: var(--white);
    font-size: 18px;
  }

  .boxes {
    font-size: 20px;
    position: relative;
  }

  .below-head {
    margin-top: -3vw;
    width: 86%;
    font-size: 13px;
    color: var(--white);
  }

  /* .lft {
    height: 410px;
    flex: 1;
    order: 2;
  } */

  .rht-frog {
    height: 370px;
    flex: 1;
    order: 1;
    background-image: none;
  }
  body {
    overflow-x: hidden;
  }

  @media (max-width: 480px) {
    .contain-wrapper11 {
      /* flex-direction: column; */
    }
  }
}

@media screen and (max-width: 319px) {
  .fst-div {
    height: 190px;
    margin: auto;
    width: 70%;
  }
  .contain-wrapper11 {
    height: 1187px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* MEDIA QUERIES FOR FOURTH */

@media screen and (max-width: 1023px) {
  .main-conts {
    height: 722px;
    padding: 1px;
    background-color: #f5fff7;
    background-image: url(../../assets/User/leaf\ 1.png),
      url(../../assets/User/leaf\ 2.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 19% auto;
    background-position: top right, bottom left;
  }
  .conts-wrapper {
    height: 678px;
    display: grid;
    grid-template-columns: 40% 60%;
  }
  .lefts {
    height: 678px;
    padding: 0px;
    margin: 0px;
  }
  .productlisting-thrd {
    width: 100%;
    height: 100%;
  }

  .imag {
    height: 58%;
    width: 100%;
  }

  .lefts img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .over {
    margin-left: 3vw;
    width: 43vw;
    color: var(--primary-color);
    font-size: 48px;
    letter-spacing: 0.24px;
    font-style: normal;
    margin-top: 2rem;
  }
  .h2 {
    font-family: 'Horta', sans-serif;
    font-size: 40px;
    font-family: Mulish;
    font-weight: 650;
  }

  .para {
    font-family: 'Inter';
    font-size: 18px;
    margin-top: 3vw;
    margin-left: 3vw;
    letter-spacing: 0.08px;
    font-style: normal;
  }
  .last {
    width: 100%;
    display: flex;
    margin-top: 2rem;
  }

  .st h2 {
    color: var(--primary-color);
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.24px;
  }

  .nd h2 {
    margin-left: 6vw;
    color: var(--primary-color);
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.24px;
  }

  .thrd h2 {
    margin-left: 6vw;
    color: var(--primary-color);
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.24px;
  }
  #car {
    margin-left: 0.5vw;
    color: var(--secondary-color);
    font-size: 16px;
  }

  #cust {
    margin-left: 6vw;
    color: var(--secondary-color);
    font-size: 16px;
  }

  #deal {
    margin-left: 6.5vw;
    color: var(--secondary-color);
    font-size: 16px;
  }
  #develop-parag {
    width: 45vw;
  }
}

@media screen and (min-width: 1024px) {
  .main-conts {
    height: auto;
    padding: 1px;
    background-color: #f5fff7;
    background-image: url(../../assets/User/leaf\ 1.png),
      url(../../assets/User/leaf\ 2.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 19% auto;
    background-position: top right, bottom left;
  }
  .conts-wrapper {
    width: 90vw;
    height: auto;
    display: grid;
    grid-template-columns: 45% 55%;
  }
  .lefts {
    height: 80%;
    /* padding: 0px;
  margin: 0px; */
  }
  .productlisting-thrd {
    width: 100%;
    height: 100%;
  }

  .imag {
    height: 100%;
    width: 100%;
  }

  .over {
    margin-left: 2.5vw;
    width: 34vw;
    color: var(--primary-color);
    font-size: 48px;
    letter-spacing: 0.24px;
    font-style: normal;
    margin-top: 6vw;
  }
  .h2 {
    font-family: 'Horta', sans-serif;
    font-size: 56px;
    font-family: Mulish;
    font-weight: 650px;
  }

  .para {
    font-family: 'Inter';
    font-size: 18px;
    margin-top: 3vw;
    margin-left: 3vw;
    letter-spacing: 0.08px;
    font-style: normal;
  }
  .last {
    margin-left: 2.5vw;
    width: 100%;
    display: flex;
    margin-top: 2rem;
  }

  .st h2 {
    color: var(--primary-color);
    font-size: 44px;
    line-height: 120%;
    letter-spacing: 0.24px;
  }

  .nd h2 {
    margin-left: 6vw;
    color: var(--primary-color);
    font-size: 44px;
    line-height: 120%;
    letter-spacing: 0.24px;
  }

  .thrd h2 {
    margin-left: 6vw;
    color: var(--primary-color);
    font-size: 44px;
    line-height: 120%;
    letter-spacing: 0.24px;
  }
  #car {
    margin-left: 0.5vw;
    color: var(--secondary-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.08px;
  }

  #cust {
    margin-left: 6vw;
    color: var(--secondary-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.08px;
  }

  #deal {
    margin-left: 6.5vw;
    color: var(--secondary-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.08px;
  }
  #develop-parag {
    width: 35vw;
  }
}

@media screen and (max-width: 768px) {
  .main-conts {
    height: 1063px;
    padding: 1px;
    background-color: #f5fff7;
    background-image: url(../../assets/User/leaf\ 1.png),
      url(../../assets/User/leaf\ 2.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 17% auto;
    background-position: top right, bottom left;
  }

  .conts-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .over {
    margin: auto;
    width: 100%;
    color: var(--primary-color);
    font-size: 30px;
    letter-spacing: 0.24px;
    font-style: normal;
    margin-top: 0rem;
  }

  h2 {
    font-family: 'Horta', sans-serif;
    font-size: 28px;
    font-family: Mulish;
  }

  .para {
    font-family: 'Inter';
    width: 100%;
    margin: auto;
    font-size: 20px;
    margin-left: 0vw;
    letter-spacing: 0.08px;
    font-style: normal;
  }

  .last {
    margin-left: 0vw;
    width: 70vw;
    height: 100px;
    display: flex;
  }

  .st h2 {
    color: var(--primary-color);
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.24px;
  }

  .nd h2 {
    margin-left: 6vw;
    color: var(--primary-color);
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.24px;
  }

  .thrd h2 {
    margin-left: 6vw;
    color: var(--primary-color);
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.24px;
  }

  #car {
    font-size: 20px;
    margin-left: 0.5vw;
    color: var(--secondary-color);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.08px;
  }

  #cust {
    font-size: 20px;
    margin-left: 6vw;
    color: var(--secondary-color);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.08px;
  }

  #deal {
    width: 25vw;
    font-size: 20px;
    margin-left: 6.5vw;
    color: var(--secondary-color);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.08px;
  }

  .productlisting-thrd {
    width: 90vw;
    margin: auto;
  }
  .imag {
    height: 100%;
    width: 100%;
  }

  .lefts img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .lefts {
    margin-bottom: 22px;
    height: auto;
    flex: 1;
    order: 1;
  }

  .rights {
    height: 410px;
    flex: 1;
    order: 2;
  }

  @media (max-width: 768px) {
    .conts-wrapper {
      height: auto;
      display: block;
    }
  }
  #develop-parag {
    width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .main-conts {
    height: auto;
    padding: 1px;
    background-color: #f5fff7;
    background-image: none;
  }

  .conts-wrapper {
    margin-top: 1.5rem;
    height: auto;
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .lefts {
    height: 320px;
    margin: auto;
    flex: 1;
    order: 1;
  }

  .rights {
    max-width: 50%;
    height: auto;
    flex: 1;
    order: 2;
  }
  .imag {
    height: 300px;
    width: 100%;
  }

  .lefts img {
    border-radius: 12px;
    margin: auto;
    width: 100%;
    object-fit: cover;
  }

  .h2 {
    font-family: 'Horta', sans-serif;
    font-size: 30px;
    font-family: Mulish;
    font-weight: 650;
  }
  .over {
    margin-left: 3vw;
    width: 90vw;
    color: var(--primary-color);

    letter-spacing: 0.24px;
  }
  #develop-parag {
    width: 76vw;
  }
  .para {
    width: 80%;
    margin: auto;
    font-size: 13px;
    letter-spacing: 0.08px;
    font-style: normal;
  }

  .st h2 {
    color: var(--primary-color);
    font-size: 25px;
    line-height: 120%;
    letter-spacing: 0.24px;
  }

  .nd h2 {
    margin-left: 6vw;
    color: var(--primary-color);
    font-size: 25px;
    line-height: 120%;
    letter-spacing: 0.24px;
  }

  .thrd h2 {
    margin-left: 6vw;
    color: var(--primary-color);
    font-size: 25px;
    line-height: 120%;
    letter-spacing: 0.24px;
  }

  #car {
    font-size: 12px;
    margin-left: 0.5vw;
    color: var(--secondary-color);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.08px;
  }

  #cust {
    font-size: 12px;
    margin-left: 6vw;
    color: var(--secondary-color);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.08px;
  }

  #deal {
    width: 30vw;
    font-size: 12px;
    margin-left: 6.5vw;
    color: var(--secondary-color);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.08px;
  }

  .last {
    padding-bottom: 10px;
    margin-left: 4.5vw;
    width: 80%;
    height: auto;
    display: flex;
  }
}

@media screen and (max-width: 319px) {
  .main-conts {
    height: 1182px;
    padding: 1px;
    background-color: #f5fff7;
    background-image: url(../../assets/User/leaf\ 1.png),
      url(../../assets/User/leaf\ 2.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 17% auto;
    background-position: top right, bottom left;
  }
}

/* MEDIA QUERIES FOR FIRST COMPONENT */
@media screen and (min-width: 768px) and (max-width: 1028px) {
  .product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 680px;
  }
  .product-part-text h1 {
    font-size: 5rem;
  }

  .feature-text > h4 {
    color: var(--white);
    font-weight: 800;
    font-size: 2rem;
    font-family: 'inter', sans-serif;
  }
  .last-feat-text > p {
    margin-top: -13px;
    opacity: 0.5;
    color: #f5fff7;
    font-family: 'inter', sans-serif;
  }
  .last-feat-text > h4 {
    color: var(--white);
    font-weight: 800;
    font-size: 2rem;
    font-family: 'inter', sans-serif;
  }
  .feature-321 > p {
    margin-top: -13px;
    opacity: 0.5;
    color: #f5fff7;
    font-family: 'inter', sans-serif;
  }
  .feature-321 > h4 {
    color: var(--white);
    font-weight: 800;
    font-size: 2rem;
    font-family: 'inter', sans-serif;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .product-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100vw;
  }
  .product-part-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 382px;
  }
  .dot-button-main {
    display: none;
  }
  .product-part-text h1 {
    margin-top: -2rem;
    color: var(--white);
    font-family: 'Horta', sans-serif;
    font-weight: 600;
    font-size: 5rem;
    line-height: 104px;
    letter-spacing: 0.003em;
  }
  .product-feature {
    display: flex;
    margin-top: -9px;
    margin-bottom: 33px;
    gap: 9px;
  }
  .product-feature2 {
    display: flex;
    gap: 18px;
  }
  .feature-text > p {
    margin-top: -5px;
    font-weight: 400;
    opacity: 0.5;
    color: #f5fff7;
    font-family: 'inter', sans-serif;
  }
  .feature-text > h4 {
    color: var(--white);
    font-weight: 800;
    font-size: 1rem;
    font-family: 'inter', sans-serif;
  }
  .list-button > button {
    /* text-align: center; */
    height: 52px;
    border-radius: 10px;
    padding: 2px;
    width: 129px;
    color: var(--bg-color);
    background-color: var(--primary-color);
    border: 1px solid transparent;
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .product-img-text > p {
    margin-left: -2.3vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .feature-logo img,
  svg {
    margin-left: -1vw;
    display: block;
    vertical-align: middle;
  }

  .product-head {
    height: 579px;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
  }
  .product-container {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .product-part-text {
    padding-left: 7px;
    margin-top: 28vw;
    display: none;
    display: flex;
    flex-direction: column;
    height: 362px;
  }
  .dot-button {
    display: none;
  }

  .product-feature {
    margin-left: -3vw;
    gap: 15px;

    margin-top: -22vw;
    margin-bottom: 33px;
  }
  .feature-logo {
    margin-left: 12px;
    width: 39px;
    background: #849b71;
    border-radius: 8px;
  }

  .feature-321 > p {
    margin-top: -5px;
    opacity: 0.5;
    color: #f5fff7;
    font-family: 'inter', sans-serif;
  }
  .feature-321 > h4 {
    color: var(--white);
    font-weight: 800;
    font-size: 18px;
    font-family: 'inter', sans-serif;
  }

  .feature-321 {
    margin-left: -3vw;
  }

  .product-part-text h2 {
    margin-bottom: 60px;
    font-size: 45px;
  }

  .feature-text > h4 {
    color: var(--white);
    font-weight: 800;
    font-size: 2.5rem;
    font-family: 'inter', sans-serif;
  }
  .product-feature1 {
    margin-left: -2vw;
    gap: 2px;
  }
  .product-feature {
    display: flex;
    margin-top: -9px;
    margin-bottom: 33px;
  }
  .product-feature2 {
    gap: 0px;
  }
  .last-feat-text {
    margin-left: 6px;
  }

  .last-feat-text > p {
    margin-top: -5px;
    opacity: 0.5;
    color: #f5fff7;
    font-family: 'inter', sans-serif;
  }
  .last-feat-text > h4 {
    color: var(--white);
    font-weight: 800;
    font-size: 18px;
    font-family: 'inter', sans-serif;
  }
  .feature-text > h4 {
    color: var(--white);
    font-weight: 800;
    font-size: 18px;
    font-family: 'inter', sans-serif;
  }
  .feature-text > p {
    margin-top: -5px;
    opacity: 0.5;
    color: #f5fff7;
    font-family: 'inter', sans-serif;
  }
  .feature-text {
    margin-left: 1.3vw;
  }
  .product-part-text h1 {
    width: fit-content;
    margin-top: -8rem;
    color: var(--white);
    font-family: 'Horta', sans-serif;
    font-weight: 600;
    font-size: 45px;
    line-height: 70px;
    letter-spacing: 0.003em;
  }

  .product-category {
    height: 250px;
    background-color: #fff;
  }

  .corner-star {
    display: none;
    position: absolute;
    right: 0px;
    top: -49px;
    opacity: 0.2;
  }
  .product-list-box {
    display: block;
  }
  .product-drop {
    align-items: center;
    height: 73px;
  }
  .dropdown-button {
    width: 22vw;
    cursor: pointer;
    padding: 14px 1.8vw;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    color: #11142d;
    font-weight: 700;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    min-width: -moz-fit-content;
  }
  .list-button {
    align-items: center;
  }
  .list-button > button {
    border-radius: 10px;
    padding: 17px;
    width: 90vw;
    color: var(--bg-color);
    background-color: var(--primary-color);
    border: 1px solid transparent;
  }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .product-part-text h2 {
    font-size: 35px;
  }
  /* .product-part-text h1 {
    font-size: 45px;
  } */
}

@media screen and (min-width: 320px) and (max-width: 350px) {
  .product-feature {
    flex-wrap: wrap;
    display: flex;
    /* margin-top: -9px; */
    margin-bottom: 33px;
  }
  .product-part-text h1 {
    width: -moz-fit-content;
    width: fit-content;
    margin-top: -5rem;
    color: var(--white);
    font-family: 'Horta', sans-serif;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 0.003em;
  }
}

/* MEDIA QUERIES FOR SECOND  */

@media screen and (min-width: 1024px) and (max-width: 1600px) {
  .exp1 {
    color: var(--img-bg);
    display: flex;
    gap: 70px;
    position: absolute;
    bottom: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main-container {
    padding-right: 20px;
    padding-left: 20px;
    background-color: #f7f7fc;
  }

  .product-box {
    padding-bottom: 18px;
    margin: auto;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 19px;
    grid-row-gap: 0px;
  }
  .product2-container {
    display: flex;
    justify-content: space-between;
    padding-top: 63px;
    width: 100%;
    align-items: center;
    padding-left: 83px;
  }
  .product-img-text-box {
    margin-left: 6px;
  }
  .product-img-text-box h1 {
    font-size: 2rem;
  }
  .product-img-text {
    margin-top: 10px;
    gap: 4px;
  }
  .product-img-text > p {
    font-size: 0.7rem;
  }
  .explore {
    font-size: 20px;
  }
  .second-product {
    margin-right: 1vw;
    background-size: 100% 100%;
    width: 371px;
  }
  #pro {
    font-size: 1.5rem;
  }
  #pro2 {
    font-size: 1.5rem;
  }
  .exp1 {
    gap: 101px;
  }
  .second-product-row {
    gap: 10px;
    grid-template-columns: 33% 33% 33%;
  }
  #start-img {
    margin-top: 10px;
    height: 245px;
  }
  #center-img {
    margin-top: -10px;
    height: 298px;
  }
  #last-img {
    width: 430px;
    height: 238px;
    margin-top: 13px;
  }
  #section3-head {
    font-size: 3rem;
    font-weight: 700;
    margin-left: -62px;
    font-family: 'Mulish', sans-serif;
  }
  .exp {
    margin-top: -2vw;
    display: flex;
    color: white;
    text-align: center;
    align-items: center;
    gap: 7px;
  }
  .first-product {
    margin-left: 1vw;
    background-color: #335918;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-area: 1 / 1 / 2 / 3;
  }
  .dropdown-button {
    width: 200px;
    cursor: pointer;
    padding: 14px 1.8vw;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    color: #11142d;
    font-weight: 700;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
}

@media screen and (max-width: 767px) {
  #pro2 {
    display: none;
    margin-top: -11vw;
    float: right;
    color: white;
    align-items: center;
  }
  .exp1 {
    width: 22vw;
    color: var(--img-bg);
    display: flex;
    position: absolute;
    bottom: 10px;
  }
  .product-img-text-box {
    margin-top: 58px;
    margin-left: 2px;
  }
  .product-img-text-box h1 {
    margin-top: -0.3rem;
    font-weight: 600;
    font-family: 'Horta', sans-serif;
    font-size: 2.4rem;
    color: var(--white);
    margin-bottom: -15px;
  }
  .product-box {
    padding-bottom: 18px;
    margin: auto;
    width: 92%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 0px;
  }
  .dropdown-button {
    width: 176px;
    cursor: pointer;
    padding: 14px 1.8vw;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    color: #11142d;
    font-weight: 700;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .product2-container {
    width: 100%;
    padding-top: 37px;
  }
  .arrow-button {
    display: none;
  }
  .dropdown-button {
    width: 90vw;
  }
  #section3-head {
    font-size: 39px;
    font-weight: 700;
    margin-left: 14px;
    font-family: 'Mulish', sans-serif;
  }
  .list-button > button {
    margin: auto;
    width: 92%;
  }
  .product-box {
    row-gap: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .first-product {
    flex: 1;
    order: 1;
  }
  .second-product {
    height: 308px;
    flex: 1;
    order: 2;
  }
  .exp1 {
    display: contents;
    color: var(--img-bg);
    gap: 129px;
    position: absolute;
    bottom: 10px;
  }

  .product-img-box {
    width: 100%;
  }
  .product-img-text {
    color: var(--neon-green);
    display: flex;
    margin-bottom: 44px;
  }
  .product-img-box img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .product-img-text-box {
    margin-top: 58px;
    margin-left: 9px;
  }
  .product-img-text-box h1 {
    margin-top: -0.3rem;
    font-weight: 600;
    font-family: 'Horta', sans-serif;
    font-size: 35px;
    color: var(--white);
    margin-bottom: -2px;
  }
  .exp {
    display: none;
  }
  #pro {
    font-size: 20px;
    margin-top: 55vw;
    margin-left: 4vw;
    color: white;
  }
  .second-product-row {
    flex-wrap: wrap;
    margin: auto;
    width: 92%;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
  }
  #pro2 {
    font-size: 20px;
    display: block;
    margin-top: -11vw;
    float: right;
    color: white;
    align-items: center;
  }
}

@media screen and (min-width: 1023px) and (max-width: 1128px) {
  .product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 907px;
  }
}
