/** @format */

.margin-inline {
  width: fit-content;
}

.modal-content-table {
  /* max-width: 1200px;
  width: 100%;
  background-color: var(--color-white);
  padding: 60px 20px;
  max-height: 575px;
  height: 100%;
  border: 0;
  border-radius: 15px;
  position: relative; */
  max-width: 80vw;
  width: 100%;
  background-color: var(--color-white);
  padding: 60px 20px 20px 20px;
  max-height: 69vh;
  height: 100%;
  border: 0;
  border-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-align {
  position: absolute;
  top: 44px;
  left: 0;
  width: 100%;
}

@media (max-width: 768px) {
  .margin-inline {
    width: fit-content;
  }
  .card-align {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
  }
}
