/** @format */

.select-option {
  padding: 13.5px 6px;
  color: #ffff;
  background: #a2ba1e;
  border: 0;
  border-bottom: 3px solid #a2ba1e;
  border-radius: 0px 8px 8px 0px;
}

.btn-align-center {
  display: flex;
  align-items: center;
}

.btn-align-center > span {
  background: #335918;
  color: #fff;
  padding: 14px 25px;
  border-radius: 8px 0px 0px 8px;
}

.btn-align-center > span:hover {
  background: #2f5713;
  color: #fff;
  transition: 0.2s;
  cursor: pointer;
}

/* .head-tr {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.body-tr {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
} */

tr > th {
  text-align: left;
}
tr > td {
  text-align: left;
}
