/** @format */

#page-topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 290px;
  z-index: 1000;
  box-shadow: 0;
}

#page-topbar-hide {
  position: fixed;
  top: 0;
  right: 0;
  left: 101px;
  z-index: 1000;
  box-shadow: 0;
}

/* Add box shadow when scrolled */
#page-topbar .header-scrolled {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-header {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  margin: 0 auto;
  height: 100px;
  padding: 0 12px 0 0;
}

.page-topbar.header-scrolled {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-button {
  color: #706767;
}
.d-flex {
  display: -webkit-flex !important;
  display: flex !important;
}

.vertical-collpsed .navbar-brand-box {
  width: 70px !important;
}

.navbar-brand-box {
  padding: 2rem 2rem;
  width: 290px;
  background: var(--color-white);
  transition: 0.3s;
  display: flex;
  justify-content: center;
}

.navbar-brand-box-hide {
  padding: 2rem 1.4rem;
  width: 101px;
  background: var(--color-white);
  transition: 0.3s;
}

body[data-sidebar='dark'] .logo-dark {
  display: none;
}

.logo {
  line-height: 70px;
}

body[data-sidebar='dark'] .logo-light {
  display: block;
}

.logo .logo-light {
  width: 192px;
  height: 70px;
}

.logo {
  line-height: 70px;
}

.header-item {
  height: 70px;
  box-shadow: none !important;
  border: 0;
  border-radius: 0;
  padding: 0px 48px;
}

.header-item,
.header-item:hover {
  color: #022a06;
}

.btn:hover {
  /* color: var(--light-grey); */
  text-decoration: none;
}

[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.font-size-24 {
  font-size: 24px !important;
}

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.app-search {
  padding: 16px 0;
}

.position-relative {
  position: relative !important;
}

.app-search .form-control {
  border: none;
  height: 38px;
  padding-left: 40px;
  padding-right: 20px;
  background-color: var(--color-white);
  box-shadow: none;
  border-radius: 30px;
}

.form-control {
  display: block;
  width: 100%;
  height: 42px;
  padding: 0.47rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--light-grey);
  background-color: var(--color-white);
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.app-search span {
  position: absolute;
  z-index: 10;
  font-size: 16px;
  line-height: 38px;
  left: 13px;
  top: 0;
  color: #74788d;
}

.dropdown,
.dropend,
.dropstart,
.dropup {
  position: relative;
}

.navbar-header .dropdown {
  position: static;
}

.navbar-header .dropdown .dropdown-menu {
  left: auto !important;
  right: 10px !important;
}

.dropdown-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.35rem 1.5rem;
  clear: both;
  font-size: 0.8rem;
  cursor: pointer;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.user-dropdown .dropdown-item i {
  display: inline-block;
}

.dropdown-menu {
  height: fit-content;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  font-size: 0.9rem;
  color: var(--light-grey);
  text-align: left;
  list-style: none;
  background-color: var(--color-white);
  background-clip: padding-box;
  border: 0 solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  position: absolute;
  will-change: transform;
  top: 0px;
  left: 0px;
  transform: translate3d(-43px, 70px, 0px);
  top: 100%;
}

.dropdown-menu {
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
  animation-name: DropDownSlide;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  margin: 0;
  position: absolute;
  z-index: 1000;
  inset: 0px !important;
}

.dropdown-menu-lg {
  min-width: 220px;
  max-width: 100%;
}

.dropdown-menu-end[style] {
  padding: 15px;
  position: absolute;
  top: 45px;
  right: 0px;
  left: -22px;
}

.btn-primary {
  height: 42px;
  width: 42px;
  color: var(--color-white);
  background-color: var(--light-primary);
  border-color: var(--light-primary);
  border-radius: 0px 4px 4px 0px;
}

.username {
  color: var(--text, #3c3c3c);
  font-weight: 700;
  padding-right: 35px;
  text-transform: capitalize;
}

.notification {
  margin-right: 3rem;
  width: 22px;
  /* background-image: url("../../assets/header/Notifications.svg"); */
}

.header-right {
  position: relative;
}

.header-right > span {
  display: flex;
  align-items: center;
  width: 35px;
  cursor: pointer;
  margin-right: 40px;
}

.alert-icon {
  position: absolute;
  top: 4px;
  left: 18px;
}

.header-profile-user {
  height: 50px;
  width: 50px;
}

.search-section {
  width: 100%;
  max-width: 480px;
  height: 65px;
  /* background: var(--color-white); */
  /* box-shadow: var(--box-shadow-color); */
  border-radius: 40px;
  padding: 8px 10px;
  margin-right: 40px;
}

#notification-number {
  position: absolute;
  top: -6px;
  right: -4px;
  width: 20px;
  height: 20px;
  background: green;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  font-weight: 700;
  font-size: 13px;
}
/* here is animation */

@keyframes DropDownSlide {
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* here use media query */
@media (max-width: 991px) {
  .logo span.logo-sm {
    display: inline-block;
  }
}

@media (max-width: 990px) {
  .navbar-header .dropdown .dropdown-menu {
    left: auto !important;
    right: 10px !important;
  }
}

@media (max-width: 768px) {
  .username {
    display: none;
  }
  #page-topbar {
    left: 0px;
  }

  .notification {
    margin-right: 25px;
  }
  .user-dropdown {
    margin-right: 5px;
  }
  .header-item {
    padding: 0px 38px;
  }
}

@media (max-width: 700px) {
  .logo span.logo-lg {
    display: none;
  }
}

@media (max-width: 600px) {
  .navbar-header .dropdown .dropdown-menu {
    left: 10px !important;
    right: 10px !important;
    transform: translate3d(15px, 70px, 0px);
  }
  .search-section {
    max-width: 420px;
    margin-right: 15px;
  }
}

@media (min-width: 600px) {
  .dropdown-menu-lg {
    width: 320px;
  }
  .dropdown-menu-end[style] {
    padding: 15px;
    position: absolute;
    top: 35px;
    right: 0px;
    left: -22px;
  }
}
@media (max-width: 425px) {
  .header-item {
    padding: 0px 20px;
  }
  .header-profile-user {
    margin-right: 0.5rem;
  }
}

@media (max-width: 380px) {
  .navbar-brand-box {
    display: none;
  }
}

@media (max-width: 375px) {
  .navbar-header {
    padding: 0 0px 0 0;
  }
}
