/** @format */

.table-subContainer {
  height: calc(100vh - 145px);
}
.justifyBetween {
  display: flex;
  justify-content: space-between;
  height: 50px;
}
.searchBar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.searchBar > input {
  border: 0;
  border-radius: 30px;
  width: 300px;
  height: 45px;
  padding: 0px 36px;
  outline: 0;
  background: #f4f7fe;
  visibility: hidden;
}

.searchBar > #search {
  position: absolute;
  top: 18px;
  left: 15px;
  color: #2b3674;
  visibility: hidden;
}
.searchBar > #arrow {
  position: absolute;
  top: 8px;
  right: 15px;
  color: #9691a4;
}
@media (max-width: 667px) {
  .searchBar > input {
    width: 48vw;
  }
}

@media (max-width: 425px) {
  .justifyBetween {
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .searchBar > input {
    width: 48vw;
  }
}

@media (max-width: 375px) {
  .searchBar > input {
    width: 38vw;
  }
}
