/** @format */

.check-logo {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffefef;
  border-radius: 6px;
}
.modal-confirm {
  height: 245px;
  padding: 35px 12px;
}

.confirm-modal {
  display: flex;
  justify-content: flex-start;
}

.modal-height {
  height: 357px;
}

.modal-content > input {
  max-width: 420px;
  margin-inline: 20px;
}

.modal-height > button {
  margin-inline: 20px;
}

.confirm-text > p {
  font-size: 18px;
  color: #727b8599;
  width: 100%;
  font-size: 22px;
}

@media (max-width: 500px) {
  .modal-height > button {
    margin-inline: 0px;
  }
  .modal-content > input {
    max-width: 420px;
    margin-inline: 0px;
  }
  .confirm-text > p {
    font-size: 4vw;
  }
}

@media (max-width: 468px) {
  .modal-confirm {
    height: 245px;
    padding: 55px 10px;
  }
  .modal-height {
    height: 357px;
  }
}

@media (max-width: 425px) {
  .modal-height {
    height: 385px;
  }
}

@media (max-width: 375px) {
  .modal-confirm {
    height: 285px;
    padding: 55px 10px;
  }
  .modal-height {
    height: 410px;
  }
}

@media (max-width: 425px) {
  .modal-confirm {
    height: 295px;
    padding: 55px 10px;
  }
}
