/** @format */

.form-body {
  height: 100%;
  background: #fff;
}

.website-logo {
  position: fixed;
  z-index: 1000;
  display: inline-block;
  top: 32%;
  left: 128px;
  right: initial;
  bottom: initial;
}

.website-logo a {
  display: inline-block;
}

a {
  color: #1b1819;
  text-decoration: none;
  background-color: transparent;
}

.website-logo .logo {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  width: 225px;
}

.form-body > .row_ {
  position: relative;
  margin-left: 0;
  margin-right: 0;
}

.row_ {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.logo > h1 {
  font-size: 35px;
}

.website-logo .logo img {
  width: 300px;
}

.img-holder {
  width: 550px;
  position: fixed;
}

.img-holder {
  top: 0;
  left: 0;
  min-height: 700px;
  height: 100%;
  overflow: hidden;
  text-align: center;
  z-index: 999;
  background: #fff;
}

.img-holder > .background {
  opacity: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/pepecons/bg-dashboard\ 1.png);
  background-size: cover;
  background-position: bottom;
  z-index: -1;
}

.img-holder .info-holder {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.form-holder {
  margin-left: 550px;
  width: 100%;
  height: 100vh;
}

.form-content {
  position: relative;
  background-color: var(--color-white);
}

.form-holder .form-content {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 0px 20px 0px;
}

/* today css */
.login-card {
  max-width: 450px;
  width: 100%;
  height: fit-content;
  border-radius: 16.108px;
  background: var(--color-white);
}

.welcome {
  text-align: left;
  letter-spacing: -0.68px;
  color: #335918;
  font-weight: 700;
  font-size: 35px;
  font-family: sans-serif;
}

/* today css */
.form-content .form-items {
  display: inline-block;
  width: 100%;
  transition: all 0.4s ease;
}

.form-content .form-items {
  max-width: 340px;
  text-align: left;
}

.form-content h3 {
  font-size: 32px;
  font-weight: 900;
  margin-top: 65px;
  color: var(--color-primary-variant);
  text-align: left;
  padding: 0px 10px;
}

.h3,
h3 {
  font-size: 2vw;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.form-content p {
  color: #a3aed0;
  text-align: left;
}

.form-content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 30px;
}

p {
  margin-top: 0;
}

.form-content .page-links {
  margin-bottom: 34px;
}

.form-content .page-links a.active {
  font-weight: 700;
}

.form-content .page-links a {
  color: var(--color-white);
}

.form-content .page-links a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  margin-right: 20px;
  transition: all 0.3s ease;
}

.form-content .page-links a.active:after {
  background-color: var(--color-white);
}

.form-content .page-links a:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -10px;
  transition: all 0.3s ease;
}

.form-content form {
  padding: 60px 0px;
  text-align: left;
  position: relative;
}

.form-content form > span {
  position: absolute;
  top: 221px;
  right: 25px;
}

.form-content input,
.form-content .dropdown-toggle.btn-default {
  border: 1px solid #a3aed0;
}

.form-content input,
.form-content .dropdown-toggle.btn-default {
  width: 100%;
  height: 50px;
  padding: 9px 20px;
  text-align: left;
  outline: 0;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 300;
  transition: all 0.3s ease;
  margin-bottom: 32px;
}

.form-control_ {
  display: block;
  height: calc(1.5em + 0.75rem + 2px);
  line-height: 1.5;
  background-clip: padding-box;
}

/* Styling for unchecked checkboxes */
#keep-logged {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #bbb7c5;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-right: 8px;
  cursor: pointer;
  padding: 2px;
}

/* Styling for checked checkboxes */
#keep-logged:checked::before {
  content: '\2713';
  font-size: 9px;
  color: #335918;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  top: 7px;
  left: 8px;
  transform: translate(-50%, -50%);
  font-weight: bold;
  border: 2px solid #335918;
  width: inherit;
  height: inherit;
  text-align: center;
}

/* Optional: Hover effect */
#keep-logged:hover {
  /* border-color: #335918; */
}

.form-content #keep-logged:not(:checked),
.form-content #keep-logged:checked {
  position: absolute;
  left: -9999px;
}

.form-content #keep-logged:not(:checked) + label,
.form-content #keep-logged:checked + label {
  color: var(--color-white);
  font-weight: 700;
}

.form-content #keep-logged:not(:checked) + label,
.form-content #keep-logged:checked + label {
  position: relative;
  padding-left: 23px;
  cursor: pointer;
  display: inline;
  font-size: 15px;
  margin-left: 0;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-content label {
  line-height: 20px;
  margin-bottom: 10px;
}
.form-content #keep-logged:not(:checked) + label:before {
  background: transparent;
  border: 2px solid var(--color-white);
}

.form-content #keep-logged:not(:checked) + label:before {
  border-radius: 4px;
}

.form-content #keep-logged:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 1px;
  width: 12px;
  height: 12px;
  transition: all 0.3s ease;
}

.form-content #keep-logged:not(:checked) + label:after,
.form-content #keep-logged:checked + label:after {
  color: var(--color-dark-variant);
}

.form-content #keep-logged:checked + label:after,
.form-content #keep-logged:not(:checked) + label:after {
  content: '\f00c';
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 600;
  position: absolute;
  top: 3px;
  left: 3px;
  font-size: 9px;
  line-height: 14px;
  transition: all 0.2s ease;
}

.form-content #keep-logged:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

.form-content .form-button {
  margin-top: 30px;
  margin-bottom: 25px;
}

.form-content .form-button .ibtn {
  background-color: var(--color-white);
  color: var(--color-dark-variant);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
}

.form-content .form-button .ibtn {
  max-width: 437px;
  width: 100%;
  color: var(--color-white);
  display: flex;
  padding: 14px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: #335918;
  font-size: normal;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  border: 0;
  transition: all 0.3s ease;
}

.form-content .form-button .ibtn:hover {
  background: var(--color-white);
  color: #335918;
  border: 1px solid #335918;
  cursor: pointer;
}

[type='button'],
[type='reset'],
[type='submit'],
button {
  -webkit-appearance: button;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
input {
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  line-height: inherit;
}

.form-content .form-button a {
  color: var(--color-white);
}

.form-content .form-button a {
  font-size: 13px;
  font-weight: 700;
}

.form-content .other-links span {
  color: var(--color-white);
}

.form-content .other-links span {
  font-size: 12px;
  font-weight: 300;
  margin-right: 20px;
}

.form-content .other-links a {
  color: var(--color-white);
}

.form-content .other-links a {
  font-size: 12px;
  font-weight: 700;
  margin-right: 10px;
}

.forget-checked {
  display: flex;
  justify-content: space-between;
  height: 45px;
  align-items: center;
}

.forget-checked > .check-box {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}

.forget-checked > p {
  color: #335918;
  font-weight: 500;
}

.check-box > input {
  left: 0 !important;
  position: unset !important;
  /* background: #335918; */
  color: #fff;
  width: 18px;
}

/* media query part  */
@media (max-width: 1885px) {
  .h3,
  h3 {
    font-size: 2vw;
  }
}

@media (min-width: 993px) {
  .website-logo .logo {
    /* background-image: url(../../assets/pepecons/Logo.png); */
    width: 300px;
  }
  .logo-min {
    display: none !important;
  }
}

@media (max-width: 992px) {
  .website-logo .logo img.logo-size {
    /* opacity: 0 !important; */
    display: none;
  }
  .website-logo .logo {
    /* background-image: url(../../assets/pepecons/Logo.png); */
    width: 300px;
  }

  .website-logo {
    position: relative;
    display: inline-block;
    top: 50px;
    left: 50px;
  }

  .form-holder .form-content {
    padding: 90px 10px 0px;
  }

  .img-holder {
    display: none;
  }

  .form-holder {
    margin-left: 0;
  }
  .website-logo {
    left: 2%;
  }
}

@media (min-height: 700px) {
  .website-logo {
    position: fixed;
  }

  /* .img-holder {
    position: fixed;
  } */
  .form-holder .form-content {
    padding: 0px 20px 0px;
  }
}
@media (max-width: 992px) {
  .form-holder .form-content {
    padding: 90px 10px 0px;
  }
}

@media (max-width: 767px) {
  .form-holder .form-content {
    padding: 90px 10px 0px;
  }
  .welcome {
    text-align: center !important;
  }
  .form-content p {
    text-align: center;
  }
}

@media (max-width: 525px) {
  .form-content form {
    padding: 60px 30px;
  }
  .website-logo {
    left: 2%;
  }
  .form-holder .form-content {
    padding: 90px 10px 0px;
  }

  .form-content form > span {
    right: 55px;
  }
}

@media (max-width: 425px) {
  .website-logo {
    left: 14%;
  }
  .form-content form {
    padding: 60px 30px;
  }
  .website-logo {
    left: 2%;
  }
  .form-holder .form-content {
    padding: 90px 10px 0px;
  }
  .website-logo .logo {
    padding-inline: 10px;
  }
}
@media (max-width: 375px) {
  .form-holder .form-content {
    padding: 0px 20px 0px;
  }

  .website-logo {
    left: 5%;
  }
  .form-content input,
  .form-content .dropdown-toggle.btn-default {
    width: 88%;
  }
  .form-holder .form-content {
    padding: 0px 20px 0px;
  }
  .website-logo {
    left: 0%;
  }
  .form-content input,
  .form-content .dropdown-toggle.btn-default {
    width: 100%;
  }
  .form-holder .form-content {
    padding: 90px 10px 0px;
  }
  .form-content form {
    padding: 60px 20px;
  }
}
